<?xml version="1.0"?>
<!--
/**
 * @category    M2Commerce Enterprise
 * @package     M2Commerce_ProductAttachments
 * @copyright   Copyright (c) 2023 M2Commerce Enterprise
 * @author      dawoodgondaldev@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <product_attachments>
            <general>
                <enabled>0</enabled>
                <tab_label>Attachments</tab_label>
                <allowed_extensions>pdf</allowed_extensions>
            </general>
        </product_attachments>
    </default>
</config>
